<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <div class="form-group">
            <label for="name">
                URL
            </label>
            <input type="text" id="url" class="form-control" name="url" placeholder="url" ngModel required>
        </div>
        <button class="btn btn-primary" type="submit">Généré</button>
        <span class="text-danger" *ngIf="errorMsg">{{errorMsg}}</span>
        <span class="text-danger" *ngIf="site">
            <app-access-site [site]="site"></app-access-site>
        </span>
    </div>
</form>

